.container {
  margin-top: 1em; 
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container header img {
  max-width: 100%;
  margin-top: 5px;
  border-radius: 50%;
}
.container header {
  text-align: center
}

.container header img {
  max-width: 50%;
  margin-top: 0;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .container header img {
    max-width: 25%;
    margin-top: 0;
    border-radius: 50%;
  }
}
